name: Deploy Lexicons

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "src/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  publish:
    name: Publish Lexicons
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Publish lexicons
        uses: birbhouse-games/lexicon-tools/publish@v1
        with:
          lexicon-path: ./src
          username: ${{ vars.USERNAME }}
          password: ${{ secrets.APP_PASSWORD }}
          update: 'true'
