name: Publish Lexicons
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "src/**"
  pull_request:
    paths:
      - "src/**"

permissions:
  contents: read

jobs:
  publish:
    name: Publish Lexicons
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Publish Lexicons
        uses: birbhouse-games/publish-lexicons@v1
        with:
          app-password: ${{ secrets.APP_PASSWORD }}
          handle: gamesgamesgamesgames.games
          lexicon-files: src
          service: https://bsky.social
